<h1>About SimpliciTrip</h1>
<p>
	SimpliciTrip simplifies finding time to spend with friends and family while visiting from out of town.  And in the process provides suggestions of places to eat, shop and be entertained, along with some great deals!
</p>

<h3>
	<%= link_to "Leadership Team", "#" %>
</h3>

<p>
	We are just starting out, so please 
		<%= link_to "contact us", contact_path %>
	with any and all feedback you have!
</p>
