<h1>SimpliciTrip</h1>
<h3>Making time for what matters</h3>

<p>
	SimpliciTrip simplifies finding time to spend (or go on adventures) with friends and family (aka frams) while visiting from out of town.  And in the process provides suggestions of places to eat, shop and be entertained, along with some great deals!
</p>

<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>
