$navbarBackgroundHighlight: #999999;
$navbarBackground: #999999;
$navbarLinkColor: #FF9900;

$heroUnitBackground: #999999;

$btnPrimaryBackground: #00CCFF;
$btnPrimaryBackgroundHighlight: #00CCFF;

@import 'bootstrap';

@import 'bootstrap-responsive';

